.pageBackground {
  position: relative;
  top: 3em;
  bottom: 0;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .pageBackground {
    top: 5em;
  }
}

.landingPage {
  background: url("../../assets/antigua_barbuda.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40em;
}

.introWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 68em;
  margin: 0 auto;
}

.introAdIconWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1em 0;
}

.introAdIcon {
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.introAdIcon_1 {
  font-size: 1.5em;
  background: rgba(84, 130, 53);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.8);
  height: 5.5em;
  width: 5.5em;
}

.introAdIcon_2 {
  font-size: 1.125em;
  background: rgba(117, 102, 73);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  height: 5.5em;
  width: 5.5em;
}

.introAdIcon_3 {
  font-size: 1.5em;
  background: rgba(132, 151, 176);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.8);
  height: 5.5em;
  width: 5.5em;
}

.introAdIcon_4 {
  font-size: 1.125em;
  background: rgba(47, 85, 151);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  height: 5.5em;
  width: 5.5em;
}

.introAdIcon_5 {
  font-size: 1.5em;
  background: rgba(31, 78, 121);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.8);
  height: 5.5em;
  width: 5.5em;
}

.introAdIcon_6 {
  font-size: 1.125em;
  background: rgba(32, 56, 100);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  height: 5.5em;
  width: 5.5em;
}

.bannerWrapper {
  position: sticky;
  top: 5em;
}

.banner {
  position: relative;
  display: flex;
  max-width: 68em;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  background: white;
  height: 2.5em;
}

.bannerItem_1 {
  position: absolute;
  color: black;
  padding: 0.5em;
  left: 16%;
  top: 0;
}

.bannerItem_2 {
  position: absolute;
  color: black;
  padding: 0.5em;
  left: 36%;
  top: 0;
}

.bannerItem_3 {
  position: absolute;
  color: black;
  padding: 0.5em;
  left: 56%;
  top: 0;
}

.bannerItem_4 {
  position: absolute;
  color: black;
  padding: 0.5em;
  left: 76%;
  top: 0;
}

.bannerUnderline {
  position: absolute;
  height: 0.375em;
  width: 5em;
  background: black;
  transition: all 0.4s;
  left: var(--bannerUderline-position);
  top: 2em;
}

.sectionWrapper {
  padding-top: 8em;
}

.cbiLawWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 68em;
  margin: 0 auto;
}

.countryIcon {
  height: 6em;
}

.conditionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 68em;
  margin: 0 auto;
}

.countryImage {
  height: 16em;
  width: 28em;
  object-fit: cover;
}

.conditioinBodyWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 1em;
  align-items: center;
  background: rgba(235, 235, 235);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.conditionSubTitles {
  background: rgba(237, 125, 49);
  padding: 0.25em;
  width: 5em;
  text-align: center;
}

.feeBodyWrapper {
  max-width: 68em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
  background: rgba(235, 235, 235);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.feeBodyTitle {
  font-size: 1.125em;
  color: white;
  background: rgba(237, 125, 49);
  padding: 0.5em;
}

.peopleSelection {
  display: grid;
  grid-template-columns: repeat(2, minmax(1em, 1fr));
  column-gap: 5em;
  row-gap: 3em;
}

.projectSelection {
  display: flex;
  justify-content: space-around;
  column-gap: 5em;
}

.documentBodyWrapper {
  max-width: 68em;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background: rgba(235, 235, 235);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.applyStepWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 3em;
}

.applyStepBox_1 {
  background: rgba(165, 165, 165);
  padding: 1em;
}

.applyStepBox_2 {
  background: rgba(173, 99, 0);
  padding: 1em;
}

.applyStepBox_3 {
  background: rgba(180, 53, 0);
  padding: 1em;
}

.documentListWrapper p {
  margin: 0;
}
