.partnerSubTitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .partnerSubTitleWrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.partnerAdWrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(3em, 1fr));
  gap: 1em;
}

.partnerAdItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.adIcon {
  max-width: 3em;
}

.sendMessageButton {
  margin: 1.5em;
}

@media screen and (min-width: 768px) {
  .sendMessageButton {
    margin: 1em 7em;
  }
}
