@use "../../index.scss" as index;

.landingPageWrapper {
  @include index.gridTemplate();
  width: 100%;
  position: relative;
  overflow: hidden;
  grid-auto-rows: 35em;
}

.landingPageWrapper h2 {
  color: white;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .landingPageWrapper {
    grid-auto-rows: 40em;
  }
}

.landingPageToggleWrapper {
  grid-column: 1/17;
  grid-row: 1;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
  z-index: 1;
  transform: translateY(16em);
}

@media screen and (min-width: 768px) {
  .landingPageToggleWrapper {
    transform: translateY(18em);
  }
}

.landingPageToggler {
  cursor: pointer;
  border: 1px solid red;
}

//content 1 section
.content_1_Background {
  @include index.flexTemplate();
  grid-column: 1/17;
  grid-row: 1;
  transform: translateX(calc((var(--current-index, 0) - 0) * -100%));
  background-image: url("../../assets/planeWindows-2560.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 1s;
  height: 100%;
  width: 100%;
}

.content_1_Wrapper {
  @include index.gridTemplate();
  width: 100%;
  max-width: 100rem;
  height: 100%;
}

.content_1_text_1 {
  font-size: 3em;
  grid-column: 1/17;
}

.content_1_text_2 {
  font-size: 3em;
  white-space: nowrap;
  grid-column: 1/17;
}

.content_1_text_3 {
  padding-top: 0.875em;
  font-size: 1em;
  grid-column: 1/17;
}

.content_1_text_4 {
  font-size: 1em;
  padding-bottom: 1em;
  grid-column: 1/17;
}

.content_1_Button {
  grid-column: 1/17;
}

.content_1_PassportImage {
  grid-column: 1/17;
}

@media screen and (min-width: 768px) {
  .content_1_text_1 {
    font-size: 4em;
    grid-column: 2/9;
  }

  .content_1_text_2 {
    font-size: 4em;
    grid-column: 3/11;
  }

  .content_1_text_3 {
    font-size: 1.125em;
    grid-column: 3/11;
  }

  .content_1_text_4 {
    font-size: 1.125em;
    grid-column: 3/11;
  }

  .content_1_Button {
    grid-column: 6/8;
  }

  .content_1_PassportImage {
    grid-column: 7/17;
    transform: translate(4rem, -10rem);
  }
}

//content 2 section
.content_2_Wrapper {
  @include index.gridTemplate();
  grid-column: 1/17;
  grid-row: 1;
  width: 100%;
  height: 100%;
  transform: translateX(calc((var(--current-index, 0) - 1) * -100%));
  background-image: url("../../assets/classroom (1).webp");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s;
}

.content_2_Shadow {
  grid-column: 6/17;
  grid-row: 1/5;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.99) 0%,
    rgba(0, 0, 0, 0.75) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 100%;
  width: 100%;
}

.content_2_text_1 {
  font-size: 0.875em;
  grid-column: 1/17;
  grid-row: 2;
}

.content_2_text_2 {
  font-size: 2.125em;
  grid-column: 1/17;
  grid-row: 1;
}

.content_2_Button {
  grid-column: 1/17;
  grid-row: 3;
}

.content_2_PassportImage {
  grid-column: 1/17;
  grid-row: 4;
}

@media screen and (min-width: 768px) {
  .content_2_text_1 {
    font-size: 1.125em;
    grid-column: 6/17;
  }

  .content_2_text_2 {
    font-size: 3em;
    grid-column: 6/17;
  }

  .content_2_Button {
    grid-column: 6/17;
  }

  .content_2_PassportImage {
    grid-column: 6/17;
  }
}

//content 3 background
.content_3_Background {
  @include index.flexTemplate();
  grid-column: 1/17;
  grid-row: 1;
  width: 100%;
  height: 100%;
  transform: translateX(calc((var(--current-index, 0) - 2) * -100%));
  background-image: url("../../assets/Digital_Transformation.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 1s;
}

.content_3_Wrapper {
  @include index.gridTemplate();
  max-width: 100rem;
  width: 100%;
  height: 100%;
}

.content_3_text_1 {
  font-size: 3.125em;
  grid-column: 1/17;
}

.content_3_text_2 {
  font-size: 3.125em;
  grid-column: 1/17;
}

.content_3_text_3 {
  font-size: 1.125em;
  grid-column: 1/17;
}

.content_3_text_4 {
  font-size: 1.125em;
  grid-column: 1/17;
}

.content_3_Button {
  grid-column: 1/17;
}

.content_3_PassportImage {
  grid-column: 1/17;
}

@media screen and (min-width: 768px) {
  .content_3_text_1 {
    font-size: 3.125em;
    grid-column: 1/17;
  }

  .content_3_text_2 {
    font-size: 3.125em;
    grid-column: 1/17;
  }

  .content_3_text_3 {
    font-size: 1.125em;
    grid-column: 1/17;
  }

  .content_3_text_4 {
    font-size: 1.125em;
    grid-column: 1/17;
  }

  .content_3_Button {
    grid-column: 1/17;
  }

  .content_3_PassportImage {
    grid-column: 1/17;
  }
}
