@use "../../App.module.scss" as index;

.landingPageWrapper {
  @include index.gridTemplate();
  width: 100%;
  position: relative;
}

.landingPageWrapper h2 {
  color: white;
  margin: 0;
}

//content 1 section
.content_1_Background {
  @include index.flexTemplate();
  grid-column: 1/25;
  grid-row: 1;
  background-image: url("../../assets/planeWindows-2560.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: calc(var(--initialBody-height) - 3rem);
  overflow: hidden;
}

.content_1_Wrapper {
  @include index.gridTemplate();
  width: 100%;
  max-width: 100rem;
  height: 100%;
}

.content_1_text_1 {
  font-size: 3em;
  grid-column: 1/25;
}

.content_1_text_2 {
  font-size: 3em;
  white-space: nowrap;
  grid-column: 1/25;
}

.content_1_text_3 {
  padding-top: 0.875em;
  font-size: 1em;
  grid-column: 1/25;
}

.content_1_text_4 {
  font-size: 1em;
  padding-bottom: 1em;
  grid-column: 1/25;
}

.content_1_Button {
  grid-column: 1/25;
}

.content_1_PassportImage {
  grid-column: 1/25;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .content_1_Background {
    height: calc(var(--initialBody-height) - 5rem);
  }
  .content_1_text_1 {
    font-size: 4em;
    grid-column: 1/25;
  }

  .content_1_text_2 {
    font-size: 4em;
    grid-column: 1/25;
  }

  .content_1_text_3 {
    font-size: 1.125em;
    grid-column: 1/25;
  }

  .content_1_text_4 {
    font-size: 1.125em;
    grid-column: 1/25;
  }

  .content_1_Button {
    grid-column: 1/25;
  }

  .content_1_PassportImage {
    grid-column: 1/25;
    // transform: translate(4rem, -10rem);
  }
}

//content 2 section
.content_2_Wrapper {
  @include index.gridTemplate();
  grid-column: 1/25;
  grid-row: 2;
  width: 100%;
  background-image: url("../../assets/classroom (1).webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -9rem 0;
  height: calc(var(--initialBody-height) - 3rem);
  overflow: hidden;
}

.content_2_Shadow {
  grid-column: 1/25;
  grid-row: 1/6;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.5) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 100%;
  width: 100%;
}

.content_2_text_1 {
  font-size: 2.625em;
  grid-column: 1/25;
  grid-row: 1;
  transform: translateY(2rem);
}

.content_2_text_2 {
  font-size: 2.625em;
  grid-column: 1/25;
  grid-row: 2;
  transform: translateY(2rem);
}

.content_2_text_3 {
  font-size: 1em;
  grid-column: 1/25;
  grid-row: 3;
  transform: translateY(2rem);
}

.content_2_Button {
  grid-column: 1/25;
  grid-row: 4;
  transform: translateY(2rem);
}

.content_2_PassportImage {
  grid-column: 1/25;
  grid-row: 5;
  transform: translateY(2.8rem);
}

@media screen and (min-width: 768px) {
  .content_2_Wrapper {
    height: calc(var(--initialBody-height) - 5rem);
  }

  .content_2_Shadow {
    grid-column: 5/25;
    background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.7) 50%,
      rgba(0, 0, 0, 0.6) 70%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .content_2_text_1 {
    font-size: 4em;
    grid-column: 6/25;
    transform: translateY(3rem);
  }

  .content_2_text_2 {
    font-size: 4em;
    grid-column: 6/25;
    transform: translateY(3rem);
  }

  .content_2_text_3 {
    font-size: 1.125em;
    grid-column: 6/25;
    transform: translateY(3rem);
  }

  .content_2_Button {
    grid-column: 6/25;
    transform: translateY(3rem);
  }

  .content_2_PassportImage {
    grid-column: 6/25;
    transform: translateY(2.375rem);
  }
}

//content 3 background
.content_3_Wrapper {
  @include index.gridTemplate();
  grid-column: 1/25;
  grid-row: 3;
  width: 100%;
  background-image: url("../../assets/Digital_Transformation.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: -14rem 0;
  height: calc(var(--initialBody-height) - 3rem);
  overflow: hidden;
}

@media screen and (min-width: 640px) {
  .content_3_Wrapper {
    background-position: 0 0;
  }
}

.content_3_Wrapper h2 {
  color: black;
}

.content_3_Shadow {
  grid-column: 1/25;
  grid-row: 1 / span 6;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.75) 0%,
    rgba(255, 255, 255, 0.65) 50%,
    rgba(255, 255, 255, 0.55) 100%
  );
  height: 100%;
  width: 100%;
}

.content_3_text_1 {
  font-size: 3em;
  grid-column: 1/25;
  grid-row: 1;
  transform: translateY(1.5rem);
}

.content_3_text_2 {
  font-size: 3em;
  grid-column: 1/25;
  grid-row: 2;
  transform: translateY(1.5rem);
}

.content_3_text_3 {
  font-size: 1em;
  grid-column: 1/25;
  grid-row: 3;
  transform: translateY(1.5rem);
}

.content_3_text_4 {
  font-size: 1em;
  grid-column: 1/25;
  grid-row: 4;
  transform: translateY(1.5rem);
}

.content_3_Button {
  grid-column: 1/25;
  grid-row: 5;
  transform: translateY(1.5rem);
}

.content_3_PassportImage {
  grid-column: 1/25;
  grid-row: 6;
  transform: translateY(3rem);
}

@media screen and (min-width: 768px) {
  .content_3_Wrapper {
    height: calc(var(--initialBody-height) - 5rem);
  }

  .content_3_Shadow {
    grid-column: 1/22;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.99) 0%,
      rgba(255, 255, 255, 0.75) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .content_3_text_1 {
    font-size: 4em;
    grid-column: 1/18;
  }

  .content_3_text_2 {
    font-size: 4em;
    grid-column: 1/18;
  }

  .content_3_text_3 {
    font-size: 1.125em;
    grid-column: 1/18;
    padding-top: 1rem;
  }

  .content_3_text_4 {
    font-size: 1.125em;
    grid-column: 1/18;
    padding-bottom: 1rem;
  }

  .content_3_Button {
    grid-column: 1/18;
  }

  .content_3_PassportImage {
    grid-column: 1/18;
    height: 100%;
  }
}
