.backgroundWrapper {
  max-width: 68em;
  position: relative;
}

.background {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageAll {
  max-width: 100%;
}

.contentPositioner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background_1 {
  font-size: 1.5em;
  background: white;
  border-radius: 0.5em;
  padding: 0 1em;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.background_2 {
  font-size: 0.75em;
}

.background_3 {
  background: white;
  border: 1px solid black;
  padding: 0.5em;
  color: red;
  font-size: 0.75em;
}

@media screen and (min-width: 768px) {
  .background_1 {
    font-size: 2em;
  }

  .background_2 {
    font-size: 1em;
  }

  .background_3 {
    font-size: 1em;
  }
}
