.button {
  border-radius: 0.5em;
  height: 2.5em;
  cursor: pointer;
  font-size: 0.875em;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: all 0.15s ease-out;
  background-color: #b5d8f2;
  border: none;
  padding: 0.5em 0.875em;
}

.button:hover {
  background-color: #555ba8;
  color: white;
}
