.button {
  border-radius: 0.5em;
  height: 2.5em;
  cursor: pointer;
  font-size: 0.875em;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: all 0.3s;
}
