.notaryPageGrid {
  position: relative;
  max-width: 68em;
  margin: 0 auto;
  display: grid;
}

@media screen and (min-width: 768px) {
  .notaryPageGrid {
    grid-template-columns: repeat(2, minmax(1em, 1fr));
  }
}

.notaryPageImage_1 {
  max-width: 100%;
}
