.accountBodyWrapper {
  position: relative;
  top: 3em;
  height: calc(100vh - 3em);
  display: flex;
}

@media screen and (min-width: 768px) {
  .accountBodyWrapper {
    top: 5em;
    height: calc(100vh - 5em);
  }
}

.sideBar {
  position: relative;
  width: 16em;
  background-color: #5142fc;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  flex-shrink: 0;
  transition: all 0.1s;
}

.sideBarShrink {
  width: 4em;
}

.sideBarToggler {
  position: absolute;
  background: #5142fc;
  border-radius: 0.5em;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  height: 2.5em;
  width: 2.5em;
  right: -8%;
  top: 20%;
  cursor: pointer;
  transition: all 0.3s;
}

.transformedToggler {
  transform: rotate(180deg);
}

.sideBarShrinkText {
  display: none;
}

.accountProfileBoxWrapper {
  display: flex;
  padding: 0.75em 1em;
  margin: 2em 0;
  border: 1px solid white;
  width: 80%;
  border-radius: 0.5em;
  column-gap: 1em;
}

.accountProfileBoxWrapper p {
  margin: 0.25em 0;
}

.userIcon {
  width: 3em;
  fill: white;
}

.sideBarMenuWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5em;
  width: 100%;
}

.sideBarMenuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 0 1em;
  transition: all 0.2s;
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0);
}

.sideBarMenuItem:hover {
  border: 1px solid white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.sideBarMenuIcon {
  height: 2em;
  fill: white;
}

.logOutButton {
  color: white;
  height: 3em;
  width: 8em;
  border-radius: 1.5em;
  background-color: red;
  border: none;
  margin: 3em 0 0;
}

.accountBody {
  width: 100%;
}
