.accountPageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.accountPageSideBarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2em;
  width: 20%;
  background: #5142fc;
  border-radius: 5px;
  height: calc(100vh - 112px);
}

.accountPageContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3em;
  width: 80%;
}

.sideBarTitleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  border: 2px solid white;
  border-radius: 5px;
}

.sideBarPhoto {
  border: 1px solid white;
  background: ghostwhite;
  height: 3em;
  width: 3em;
  border-radius: 100%;
  padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideBarContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2em;
}

.sideBarMenuItemWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sideBarIcon {
  background-image: url("src/assets/my_application_icon.svg");
  background-color:red;
}
