.gridContainer {
  display: grid;
}

@media screen and (min-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
  }
}

.gridItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

// .grenadaPassportFloat {
//   position: absolute;
//   top: 7%;
//   right: 4%;
//   width: 4em;
// }

@media screen and (min-width: 768px) {
  .gridItem_1 {
    grid-column: 1/3;
  }

  // .grenadaPassportFloat {
  //   top: 3%;
  //   right: -16%;
  // }
}
