.customerSupportWrapper {
  max-width: 70%;
}

.supportAdWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.supportAdItemWrapper {
  display: flex;
  align-items: center;
}

.adIcon {
  max-width: 3em;
}
