@use "../../App.module.scss" as index;

.cardWrapper {
  width: 100%;
  background: url("../../assets/world_map_background.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  @include index.gridTemplate();
  padding: 1rem;
  height: 60vh;
}

.cardTitle {
  font-size: 1.875em;
  grid-column: 1/17;
}

.cardVideoWrapper {
  width: 100%;
  grid-column: 1/17;
}

.cardText {
  grid-column: 1/17;
}

@media screen and (min-width: 768px) {
  .cardTitle {
    font-size: 2em;
  }

  .cardVideoWrapper {
    grid-column: 2/9;
  }

  .cardText {
    grid-column: 9/16;
  }
}
