@use "../../App.module.scss" as index;

.cardWrapper {
  width: 100%;
  background: url("../../assets/world_map_background.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  @include index.gridTemplate();
  padding: 1rem;
  height: calc(var(--initialBody-height) - 3rem);
  scroll-snap-align: start;
}

.cardTitle {
  font-size: 1.875em;
  grid-column: 1/25;
}

.cardVideoWrapper {
  width: 100%;
  grid-column: 1/25;
}

.cardText {
  grid-column: 1/25;
}

@media screen and (min-width: 768px) {
  .cardWrapper {
    height: calc(var(--initialBody-height) - 5rem);
  }

  .cardTitle {
    font-size: 2em;
  }

  .cardVideoWrapper {
    grid-column: 2/12;
  }

  .cardText {
    grid-column: 14/24;
  }
}
