.feedbackWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .feedbackWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
}

.feedbackText_1 {
  position: absolute;
  width: 67%;
  top: 4%;
  left: 20%;
}

@media screen and (min-width: 768px) {
  .feedbackText_1 {
    position: absolute;
    width: 25%;
    top: 9%;
    left: 5%;
  }
}

.feedbackText_2 {
  position: absolute;
  width: 67%;
  top: 36%;
  left: 20%;
}

@media screen and (min-width: 768px) {
  .feedbackText_2 {
    position: absolute;
    width: 25%;
    top: 9%;
    left: 38%;
  }
}

.feedbackText_3 {
  position: absolute;
  width: 67%;
  top: 70%;
  left: 20%;
}

@media screen and (min-width: 768px) {
  .feedbackText_3 {
    position: absolute;
    width: 25%;
    top: 9%;
    left: 72%;
  }
}
