.countrySliderWrapper {
  width: 100%;
}

.contentBackground {
  height: 40em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 0;
  color: white;
}

.contentBackground h2 {
  font-size: 2.25em;
}

.contentBackground p {
  font-size: 1.125em;
}

.content_1_Background {
  background: url("src/assets/antigua_barbuda.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content_2_Background {
  background: url("src/assets/st_kitts.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content_3_Background {
  background: url("src/assets/dominica.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content_4_Background {
  background: url("src/assets/grenada.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content_5_Background {
  background: url("src/assets/portugal.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content_6_Background {
  background: url("src/assets/Malta.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content_7_Background {
  background: url("src/assets/turkiye.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content_8_Background {
  background: url("src/assets/usa.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content_1_Wrapper {
  max-width: 68em;
  margin: 0 auto;
  padding: 0 1em;
  position: relative;
}

.content_1_Shadow::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.8) 5%,
    rgba(0, 0, 0, 0) 100%
  );
}

.content_1_IconWrapper {
  display: flex;
  justify-content: space-around;
}
