.countrySliderWrapper {
  width: 100%;
  position: relative;
}

.contentSentinelWrapper {
  position: relative;
  padding: 30em;
}

.contentSentinel_1 {
  min-height: 40em;
  height: calc(100vh - 5em);
  width: 100%;
}

.contentAbsoluteWrapper {
  position: absolute;
  top: 0;
  height: calc(100% - (100vh - 5em));
  width: 100%;
}

.contentBackgroundWrapper {
  position: sticky;
  top: 5em;
  width: 100%;
}

.contentBackground {
  min-height: 40em;
  height: calc(100vh - 5em);
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 1.25s;
}

.contentBackgroundShow {
  visibility: visible;
  opacity: 1;
}

.contentBackground h2 {
  font-size: 2.25em;
}

.contentBackground p {
  font-size: 1.125em;
}

.content_1_Background {
  background: url("../../assets/antigua_barbuda.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.content_2_Background {
  background: url("../../assets/st_kitts.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.content_3_Background {
  background: url("../../assets/dominica.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
}

.content_4_Background {
  background: url("../../assets/grenada.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 4;
}

.content_5_Background {
  background: url("../../assets/portugal.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}

.content_6_Background {
  background: url("../../assets/Malta.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 6;
}

.content_7_Background {
  background: url("../../assets/turkiye.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 7;
}

.content_8_Background {
  background: url("../../assets/usa.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 8;
}

.contentWrapper {
  display: flex;
  max-width: 68em;
  margin: 0 auto;
  justify-content: center;
  column-gap: 3.5em;
}

.contentPlaceholder {
  width: 4em;
  height: 100%;
}

.content {
  position: relative;
  min-height: 40em;
  height: calc(100vh - 5em);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-basis: 50em;
}

.contentDecorationWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5em;
}

.contentDecoration {
  width: 4em;
  height: 50%;
  background: transparent;
  box-shadow: 0 0 24px rgba(0, 0, 0, 1);
  border-radius: 2em;
}

.content_1_Shadow {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.8) 5%,
    rgba(0, 0, 0, 0) 100%
  );
}

.content_1_IconWrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.flagSliderWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  max-width: 68em;
  margin: 0 auto;
  justify-content: center;
  column-gap: 3.5em;
}

.sliderSideBar {
  position: sticky;
  top: 5em;
  height: 100%;
  z-index: 9;
}

.flagWrapper {
  position: sticky;
  top: 5em;
  min-height: 40em;
  height: calc(100vh - 5em);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 4em;
}

.sliderFlag {
  height: 4em;
  width: 100%;
  transition: all 0.2s ease-out;
}

.sliderFlagShow {
  transform: scale(1.35);
}

.sliderFlag:hover {
  transform: scale(1.35);
}

.flagPlaceholder {
  flex-basis: 50em;
}
