.cardTitleContainer {
  display: flex;
  justify-content: center;
  align-self: center;
}

.cardBodyContainer {
  display: flex;
  flex-direction: column;
}

.cardSubBodyContainer {
  display: flex;
  justify-content: space-around;
}

.iconContainer {
  display: flex;
}

.iconText {
  max-width: 4em;
}

.cardSubBodySecondContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
