.navBarBackground {
  background-color:ghostwhite
}

.navBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1024px;
}

.navBarToggler {
  display: flex;
}

.navBarMenuContainer {
  display: none;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  column-gap: 1em;
}

.navBarMenuToolContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBarMobileMenuContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.navBarMobile .navBarMobileMenuContainer {
  max-height: 50vh;
  opacity: 1;
}

.navBarMenuItemContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  max-width: 100px;
  height: 80px;
}

.navBarMenuItem {
  display: flex;
  align-items: center;
}

.navBarDropdownMenuContainer {
  background-color: ghostwhite;
  cursor: default;
  max-width: 100vw;
  height: 20em;
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.navBarDropdownMenuItem {
  display: flex;
  margin: 0 40px;
  height: 80px;
  width: 160px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.navBarDropdownMenuItem:hover {
  background-color: gainsboro;
}

.navBarMenuItemContainer:hover .navBarDropdownMenuContainer {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .navBarToggler {
    display: none;
  }

  .navBarMenuContainer {
    display: flex;
  }

  .navBarMobile .navBarMobileMenuContainer {
    max-height: 0;
    opacity: 0;
  }
}
