.cardTitleWrapper {
  align-self: flex-start;
}

.cardBodyWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.feedBackCardWrapper {
  position: relative;
}

.feedBackCardText {
  position: absolute;
  top: 13%;
  left: 25%;
  max-width: 14em;
}

.feedBackCardName {
  position: absolute;
  max-width: 8em;
  top: 70%;
  left: 55%;
}
