@use "../../index.scss" as index;

.footerBackground {
  position: relative;
  top: 3em;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(250, 250, 250, 0.99) 100%,
    rgba(255, 255, 255, 0.98) 0%
  );
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
  border-top-right-radius: 0.25em;
  border-top-left-radius: 0.25em;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .footerBackground {
    top: 5em;
  }
}

.footerWrapper {
  @include index.gridTemplate_1();
  max-width: 85em;
  margin: 0 auto;
}

.footerLogoWrapper {
  grid-column: 1/17;
  width: 18rem;
  padding-top: 0.625rem;
}

@media screen and (min-width: 768px) {
  .footerLogoWrapper {
    grid-column: 2/17;
    justify-self: start;
  }
}

.mobileBreakLine {
  grid-column: 1/17;
  border: none;
  width: 18rem;
  height: 2px;
  background-color: black;
}

.footerItem {
  grid-column: 1/17;
  width: 18rem;
  padding: 0.625rem 0;
}

@media screen and (min-width: 768px) {
  .mobileBreakLine {
    display: none;
  }

  .footerItem {
    width: auto;
    justify-self: start;
    align-self: start;
  }

  .contact {
    grid-column: 2/8;
    grid-row: 2;
  }

  .quickLinks {
    grid-column: 8/11;
    grid-row: 2;
  }

  .follow {
    grid-column: 11/14;
    grid-row: 2;
  }

  .address {
    grid-column: 2/5;
    grid-row: 3;
  }

  .salesEmail {
    grid-column: 5/ 8;
    grid-row: 3;
  }

  .term {
    grid-column: 8/11;
    grid-row: 3;
  }

  .newsLetter {
    grid-column: 11/14;
    grid-row: 3;
  }

  .phone {
    grid-column: 2/5;
    grid-row: 4;
  }

  .supportEmail {
    grid-column: 5/8;
    grid-row: 4;
  }

  .policy {
    grid-column: 8/11;
    grid-row: 4;
  }

  .emailSub {
    grid-column: 11/14;
    grid-row: 4;
  }
}

.socialIconWrapper {
  display: flex;
  justify-content: space-between;
  grid-column: 1/17;
  width: 18rem;
  padding: 0.625rem 0;
}

@media screen and (min-width: 768px) {
  .socialIconWrapper {
    grid-column: 14/17;
    grid-row: 2/5;
    flex-direction: column;
    width: auto;
  }
}

.footerSocialIcon {
  fill: rgba(0, 0, 0, 0.75);
  height: 2em;
  margin: 0.5em;
  cursor: pointer;
  transition: all 0.15s ease-out;
}

.footerSocialIcon:hover {
  fill: rgba(0, 0, 0, 1);
}

.footerCopyright {
  background-color: black;
  text-align: center;
  color: white;
  padding: 0.625rem 0;
}
