.mainBodyWrapper {
  position: relative;
  top: 3em;
  bottom: 0;
  width: 100%;
  padding-bottom: 2em;
}

@media screen and (min-width: 768px) {
  .mainBodyWrapper {
    top: 5em;
    padding-bottom: 5em;
  }
}
