@use "../../App.module.scss" as index;

.callOutBackground {
  @include index.gridTemplate();
  max-width: 68em;
  margin: 3rem auto;
  background: #555ba8;
  color: white;
  padding: 1em;
}

.callOutTitle {
  font-size: 1.25em;
  grid-column: 1/25;
  margin: 0;
}

.callOutSideWrapper {
  grid-column: 1/25;
}

.callOutSideTitle {
  font-size: 1.25em;
}

.callOutSideNumber {
  font-size: 1.75em;
}

.callOutBodyText {
  grid-column: 1/25;
}

@media screen and (min-width: 768px) {
  .callOutBackground {
    margin: 5rem auto;
  }

  .callOutTitle {
    font-size: 1.5em;
  }

  .callOutSideWrapper {
    grid-column: 1/7;
  }

  .callOutSideTitle {
    font-size: 1.5em;
  }

  .callOutSideNumber {
    font-size: 2em;
  }
  .callOutBodyText {
    grid-column: 7/25;
  }
}
