@use "../../index.scss" as index;

.callOutBackground {
  @include index.gridTemplate();
  max-width: 68em;
  margin: 0 auto;
  background: #555ba8;
  color: white;
  padding: 1em;
}

.callOutTitle {
  grid-column: 1/17;
  margin: 0;
}

.callOutSideWrapper {
  grid-column: 1/17;
}

.callOutSideNumber {
  font-size: 2em;
}

.callOutBodyText {
  grid-column: 1/17;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .callOutSideWrapper {
    grid-column: 1/4;
  }
  .callOutBodyText {
    grid-column: 4/17;
  }
}
