@mixin gridTemplate_1(
  $columnNumber: 16,
  $itemAxisY: center,
  $itemAxisX: center,
  $rowHeight: minmax(1rem, auto)
) {
  display: grid;
  grid-template-columns: repeat($columnNumber, minmax(0, 1fr));
  grid-auto-rows: $rowHeight;
  justify-items: $itemAxisX;
  align-items: $itemAxisY;
}

// flex template with default row direction and center x and y axis.
@mixin flexTemplate($direction: row, $axisX: center, $axisY: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $axisX;
  align-items: $axisY;
}

// grid template with default column number, item axis x & y, row and column gap.
@mixin gridTemplate(
  $columnNumber: 16,
  $itemAxisY: center,
  $itemAxisX: center,
  $rowGap: 1rem,
  $columnGap: 1rem,
  $rowGapMobile: 0.5rem,
  $columnGapMobile: 0.5rem
) {
  display: grid;
  grid-template-columns: repeat($columnNumber, minmax(0, 1fr));
  row-gap: $rowGapMobile;
  column-gap: $columnGapMobile;
  justify-items: $itemAxisX;
  align-items: $itemAxisY;

  @media screen and (min-width: 768px) {
    row-gap: $rowGap;
    column-gap: $columnGap;
  }
}
