@mixin gridTemplate_1(
  $columnNumber: 16,
  $itemAxisY: center,
  $itemAxisX: center,
  $rowHeight: minmax(1rem, auto)
) {
  display: grid;
  grid-template-columns: repeat($columnNumber, minmax(0, 1fr));
  grid-auto-rows: $rowHeight;
  justify-items: $itemAxisX;
  align-items: $itemAxisY;
}

// flex template with default row direction and center x and y axis.
@mixin flexTemplate($direction: row, $axisX: center, $axisY: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $axisX;
  align-items: $axisY;
}

// grid template with default column number, item axis x & y, row and column gap.
@mixin gridTemplate(
  $columnNumber: 24,
  $itemAxisY: center,
  $itemAxisX: center,
  $rowHeight: minmax(1rem, auto)
) {
  display: grid;
  grid-template-columns: repeat($columnNumber, minmax(0, 1fr));
  grid-auto-rows: $rowHeight;
  justify-items: $itemAxisX;
  align-items: $itemAxisY;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  height: 3rem;
  overflow: visible;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header {
    height: 5rem;
  }
}
