*,
::before,
::after {
  margin: 0;
  padding: 0;
}

#root {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  scroll-padding-top: 3rem;
}

@media screen and (min-width:768px) {
  #root {
    scroll-padding-top: 5rem;
  }
}

a {
  text-decoration: none;
}

nav a {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}

nav a:hover {
  color: rgba(0, 0, 0, 1);
}

img {
  max-width: 100%;
}

ul,
menu {
  list-style: none;
}
