@import "sanitize.css";
@import "sanitize.css/forms.css";
@import "sanitize.css/typography.css";

*,
::before,
::after {
  margin: 0;
}

// flex template with default row direction and center x and y axis.
@mixin flexTemplate($direction: row, $axisX: center, $axisY: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $axisX;
  align-items: $axisY;
}

// grid template with default column number, item axis x & y, row and column gap.
@mixin gridTemplate(
  $columnNumber: 16,
  $itemAxisY: center,
  $itemAxisX: center,
  $rowGap: 1rem,
  $columnGap: 1rem,
  $rowGapMobile: 0.5rem,
  $columnGapMobile: 0.5rem
) {
  display: grid;
  grid-template-columns: repeat($columnNumber, minmax(0, 1fr));
  row-gap: $rowGapMobile;
  column-gap: $columnGapMobile;
  justify-items: $itemAxisX;
  align-items: $itemAxisY;

  @media screen and (min-width: 768px) {
    row-gap: $rowGap;
    column-gap: $columnGap;
  }
}

a {
  text-decoration: none;
}

nav a {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}

nav a:hover {
  color: rgba(0, 0, 0, 1);
}

img {
  max-width: 100%;
}

ul,
menu {
  list-style: none;
}

footer h2 {
  text-align: start;
  margin: 0.83em 0 0;
}

//to make h1 & h2 element stay in the middle for mobile pages
@media screen and (max-width: 767px) {
  h1,
  h2 {
    text-align: center;
  }
}
