@import "sanitize.css";
@import "sanitize.css/forms.css";
@import "sanitize.css/typography.css";

*,
::before,
::after {
  margin: 0;
}

// flex container with default row direction and center x and y axis.
@mixin flexContainer($direction: column, $axisX: center, $axisY: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $axisX;
  align-items: $axisY;
}

@mixin gridTemplate(
  $itemAxisY: center,
  $itemAxisX: center,
  $rowGap: 1rem,
  $columnGap: 1rem
) {
  display: grid;
  grid-template-columns: repeat(16, minmax(0, 1fr));
  row-gap: $rowGap;
  column-gap: $columnGap;
  justify-items: $itemAxisX;
  align-items: $itemAxisY;
}

a {
  text-decoration: none;
}

nav a {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}

nav a:hover {
  color: rgba(0, 0, 0, 1);
}

img {
  max-width: 100%;
}

ul,
menu {
  list-style: none;
}

footer h2 {
  text-align: start;
  margin: 0.83em 0 0;
}

//to make h1 & h2 element stay in the middle for mobile pages
@media screen and (max-width: 767px) {
  h1,
  h2 {
    text-align: center;
  }
}
