@import "sanitize.css";
@import "sanitize.css/forms.css";
@import "sanitize.css/typography.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

nav a {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}

nav a:hover {
  color: rgba(0, 0, 0, 1);
}

img {
  max-width: 100%;
}

ul,
menu {
  list-style: none;
}

footer h2 {
  text-align: start;
  margin: 0.83em 0 0;
}

//to make h1 & h2 element stay in the middle for mobile pages
@media screen and (max-width: 767px) {
  h1,
  h2 {
    text-align: center;
  }
}
